name: Release

on:
  push:
    # On Tag / Release by Mask
    tags:
      - "v*"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    name: Build and Deploy
    uses: ./.github/workflows/workflow_update_pages.yaml

  release:
    name: Release
    needs:
      - build-and-deploy
    permissions:
      contents: write
      discussions: write

    runs-on: ubuntu-latest

    steps:
      - name: Download SvitloBot Artifacts
        uses: actions/download-artifact@v7
        with:
          name: SvitloBot
          path: release-files

      - name: Download SvitloBot Devices Artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: Devices-*
          path: release-devices-files
          merge-multiple: true

      - name: Download HealthCheck Artifacts
        uses: actions/download-artifact@v7
        with:
          name: HealthCheck
          path: release-healthcheck-files

      - name: Download All-In-One Artifacts
        uses: actions/download-artifact@v7
        with:
          name: All-In-One
          path: release-all-in-one-files

      - name: Check SvitloBot artifacts
        run: |
          ls -l
        working-directory: release-files

      - name: Check SvitloBot Devices artifacts
        run: |
          ls -l
        working-directory: release-devices-files

      - name: Check HealthCheck artifacts
        run: |
          ls -l
        working-directory: release-healthcheck-files

      - name: Check All-In-One artifacts
        run: |
          ls -l
        working-directory: release-all-in-one-files

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release-files/*/*.factory.bin
            release-devices-files/*.factory.bin
            release-healthcheck-files/*.factory.bin
            release-all-in-one-files/*.factory.bin
          discussion_category_name: Announcements
